.articuloContainer {
    width: 100%;
    height: 120%;
    background-color: black
}

.articuloTitle {
    color: red;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    text-align: center;
}

.articuloDescription {
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    height: 1000px;
}